.table,
th,
td {
    border: 1px solid #ccc;

}

.label {
    text-align: right;
    font-style: italic;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40vh;
    font-size: large;
}

.heading {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 1290px;
    height: 300px;
}